html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.presentation {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    background-image: url('img/bg9.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imgAvatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-sizing: border-box;
}

.presentationBox {
    margin-top: 100px;
    height: 50%;
    width: 50%; 
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 4%;
}

.presentationImg {
    text-align: center;
    height: 42%;
    width: 25%;
}

.presentationText {
    margin-top: 4%;
    height: 45%;
}

.arrow {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}


.chevron {
    position: absolute;
    width: 28px;
    height: 2px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: black;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

.moreInfo{
    min-height: 100vh;
    text-align: center;
}

.education{
    margin: 0;
    padding: 0;
    max-height: 80%;
    display: flex; /* Attiva Flexbox */
    justify-content: center; /* Centra orizzontalmente il contenuto */
    align-items: center;
    box-sizing: border-box;
}

.line{
    float: left;
    height: 90%;
    width: 20%;
    margin-left: 10%;
    margin-top: 4%;
    border-right: 2px solid lightgrey;
    position: relative;
}

.iconEducation{ 
    float: left;
    height: 70px;
    width: 70px;
    margin-left: 30%;
    margin-top: 13%;
}

.iconEducation.thesis {
    position: absolute;
    bottom: 20%;
}

.iconEducation.teamwork {
    position: absolute; 
    bottom: 3%;
}

.educationBox{
    float: right;
    min-height: 75%;
    width: 60%;
    text-align: left;
    margin-top: 4%;
    margin-right: 6%;
}

.imgEducation{
    height: 100%;
    width: 100%;
}

.educationTotal{
    margin: 0;
    padding: 0;
    height: 80vh;
    width: 60vw;
    box-sizing: border-box;
}

.educationBoxTotal{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 88%;
    position: relative;
}

.contact{
    box-sizing: border-box;
    height: 20%;
    background-color: lightgrey;
    color: white;
    display: flex; /* Attiva Flexbox */
    justify-content: center; /* Centra orizzontalmente il contenuto */
    align-items: center;
    box-sizing: border-box;
}

.contactMe {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; /* Dispone gli elementi verticalmente */
    justify-content: center; /* Centra verticalmente il contenuto */
    align-items: center; /* Centra orizzontalmente il contenuto */
}

.social-container {
    display: flex;
    height: 80px;
    flex-direction: row; /* Dispone i div social orizzontalmente */
    justify-content: center; /* Centra i div social orizzontalmente */
    margin-top: 10px; /* Spazio tra il titolo e i div social */
}

.social {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center; /* Centra il contenuto all'interno del div */
    align-items: center;
    margin: 0 20px; /* Spazio laterale tra i div social */
    margin-bottom: 10%;
}


.imgContact{
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}





h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    margin: 0;
}

h2 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 30px;
    font-style: normal;
}

h3 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    font-style: normal;
}

h4{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 19px;
}

p {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
}

.footerIntestation{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
}